@model Examen_YB.Models.Historique

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEntree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEntree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSortie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSortie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hopital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hopital.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
